bencodepy
docker
-e /home/sam/Code/media_server
fastapi
httpx
libtorrent
loguru
-e /home/sam/Code/magnet2torrent
passlib[bcrypt]
peewee
pytest
pytest-asyncio
python-dotenv
python-multipart
requests
transmission-rpc
uvicorn
